.searchPop{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.people {
    padding: 5px;
    overflow-y: auto;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}
.peopleScroll{
    overflow: hidden;
    height: 100px;
}
.user {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0px;
    border-bottom: 1px solid var(--background-light);
}