.friendSkeleton{
    background-color: rgba(255, 255, 255, 0.034);
    position: relative;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
.friendSkeleton .circle {
    width: 0px;
    height: 100%;
    opacity: 0;
    position: absolute;
    background-color: transparent;
    box-shadow: 0 0 100px 5px var(--background-light);
    animation: skeletonSlide 0.7s infinite ease-in-out;
}

@keyframes skeletonSlide {
    0% {
        opacity: 0;
        left: -100px;
    }
    50%{
        opacity: 1;
    }
    to {
        left: 100%;
        opacity: 0;
    }
}