

.sub-progresses {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 12px;
}

.sub-progresses .day {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 12px;
    gap: 12px;
}

.sub-progresses .sub-progress {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid var(--background-light);
    color: var(--foreground-dark);
    transition: 250ms;
   
}
.sub-progresses .sub-progress.isMe{
    cursor: pointer;
}
.sub-progresses .sub-progress.isMe:hover {
    opacity: 0.7;
}

.sub-progresses .sub-progress .header {
    display: flex;
    justify-content: space-between;
    color: var(--foreground);
}

.sub-progresses .sub-progress .main p {
    width: 100%;
}

.sub-progresses .sub-progress .main .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.sub-progresses .likes {
    display: flex;
    justify-content: space-between;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .edit-icon {
    cursor: pointer;
}