@import "../../root.css";
#settings{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}
#settings .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#settings .header .notifications{
    position: relative;
}
#settings .header .notifications .point{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--primary);
    color: white;
    width: 11px;
    height: 11px;
    font-size: 14px;
    border-radius: 20px;
}
#settings .info {
    display: flex;
    gap: 10px;
}
#settings .info .profile-img-uploader {
    width: 60px;
    height: 60px;
}
#settings .info .text {
    display: flex;
    flex-direction: column;
    min-width: 0px;
    gap: 5px;
}
#settings .info .edit-user {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
}
#settings .info .edit input {

}
#settings .info .edit-user svg {
    position: absolute;
    right: 0;
    top: 5px;
}
#settings  .edit-bio{
    position: relative;
    display: flex;
    width: 100%;
    background-color: var(--background-medium);
    padding: 10px 5px;
}
#settings .edit-bio div{
    display: flex;
}
#settings .edit-bio button{
    margin-top: auto;
}
#settings .info .edit {
    display: flex;
    gap: 5px;
    align-items: center;
}
#settings .info .edit-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
#settings .info .edit-email {
    flex-grow: 1;
    min-width: 0px;
    display: flex;
    gap: 5px;
    align-items: center;
    
    overflow-x: auto ;
}
#settings .info .edit-email p{
   
}
#settings .info .edit-email::-webkit-scrollbar { 
    display: none;  /* Older Safari and Chromium */
}
#settings .info .edit svg {
    cursor: pointer;
}
#settings  .edit-bio textarea{
    width: 100%;
}
#settings .edit-bio button {
    position: absolute;
    right: 0;
    bottom: 0;
}
#settings .profile-img {
    width: 100px;
}
#settings .profile-img-uploader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#settings .profile-img-uploader .upload-progress-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#settings .profile-img-uploader .upload-progress-layer .upload-progress-bar{
    width: 100%;
    border-radius: 10px;
    height: 8px;
    overflow: hidden;
    background-color: black;
}
#settings .profile-img-uploader .upload-progress-layer .upload-progress-bar .upload-progress{
    height: 8px;
    background-color: var(--primary);
}
#settings .profile {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}

#settings .profile img {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    object-fit: cover;
}
#settings .buttons{
    display: flex;
    gap: 10px;
}
#settings .notifications {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#settings .notifications .date{
    
}
#settings .notifications .notification {
    border-bottom: 1px solid var(--background-light);
    padding: 5px;
}
