.header{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
  
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.borderBottom {
    width: 100%;
    height: 1px;
    margin-top: 5px;
    background-color: var(--background-light);
}
.back {
    position: absolute;
    left: 10px;
    display: none;
}
@media(max-width: 500px){

    .header{
       position: relative;
        background-color: var(--background-dark);
        padding: 10px 5px 10px 5px;
        border-bottom: 0;
        display: flex;
        align-items: center;
        justify-content:center;
        padding-top: env(safe-area-inset-top);
    }
    .content h1 {
        font-size: 24px;

    }
    .content .action{
        right: 10px;
        position: absolute;
    }
    .borderBottom{
        height: 0;
    }
    .back{
        display: block;
    }
    
}