#friends{
 width: 100%;
 overflow: auto;
}
#friends>.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#friends>.header .search{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;

}
#friends .people {
    max-height: 300px;
    overflow-y: scroll;
}
#friends .user {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0px;
    border-bottom: 1px solid var(--background-light);
}
#friends .friends-lazy{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding-bottom: 10px;
}

#friends .friend {
    border-radius: 10px 10px 0px 0px;
    border: 1px solid rgb(88, 88, 88);
    width: 100%;
    animation-name: fadeInAnimation;
    animation-duration: 500ms;
    /* background-color: var(--background-medium); */
}
@keyframes fadeInAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#friends .friend>.header{
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    gap: 10px;
    /* background-color: var(--background-dark); */
    /* background-color: var(--background-medium); */
}
#friends .friend>.header .date{
    margin-left: auto;
    align-self: flex-start;
}

#friends .friend>.header span.goals{
    font-family: Josefin;
}
#friends .friend .friend-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: var(--background-medium);
}
#friends .friend .friend-content .head {
    display: flex;
    justify-content: space-between;
}
#friends .friend .friend-content .head .progress-amount{
    color: var(--primary)
}
#friends .friend .friend-content .likes{
    padding-top: 10px;
    border-top: 1px solid var(--background-light);
    display: flex;
    justify-content: space-between;
}