@import "../../root.css";
#pop-layer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 10px;
}

#pop-up {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -100px;
    max-width: 320px;
    max-height: 500px;
    overflow-y: auto;
    position: relative;
    /* margin-top: 20vh; */
    background-color: var(--background-dark);
    box-shadow: 0px 0px 10px 1px rgb(34, 34, 34);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 5px;
    animation-name: appear;
    animation-duration: 0.25s;
    padding: 10px;
   

}
.close-pop {
    animation-name: disappear;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}
#pop-up .header {
    display: flex;
    
    align-items: center;
    justify-content: center;
}
#pop-up .header .title {
    text-align: center;
}
@keyframes appear {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
 @keyframes disappear {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
    
    }

#pop-up #pop-body {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    height: 100%;
    gap: 8px;

}
#pop-up #pop-body button {
    

}
#pop-up #close-pop {
    align-self: flex-end;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;

    right: 0;
    top: 0;
    border-radius: 40px;
    margin: 15px 15px 0px 0px;
    transition: 0.5s;
}


#pop-up #close-pop:hover{
    background: radial-gradient(rgba(255, 255, 255, 0.151),  rgba(255, 255, 255, 0.021),rgba(255, 255, 255, 0))
}
#pop-up #close-pop span {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: rgb(255, 255, 255);
}

#pop-up #close-pop span.n1 {
    transform: rotateZ(45deg);
}

#pop-up #close-pop span.n2 {
    transform: rotateZ(-45deg);
}
.close-pop {

}
@media(max-width: 500px) {
    #pop-up{
        align-items: center;
    }

    #pop-body{
        max-width: 400px;
        width: 100%;
    }
    #pop-layer {

    padding: 0px;
    padding-top: 50px;
}
    #pop-up {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    max-height: none;
    max-width: none;
    overflow-y: auto;
    position: relative;
    /* margin-top: 20vh; */
    background-color: var(--background-dark);
    box-shadow: 0px 0px 15px 1px rgb(53, 53, 53);
    border: none;
    border-radius: 20px 20px 0px 0px;
    animation-name: translate-open;
    animation-duration: 0.35s;
    padding: 10px;
    padding-top: 20px;

    }
    #pop-up #close-pop {
    align-self: flex-end;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    width:40px;
    height: 40px;
    right: 0;
    top: 0;
    border-radius: 40px;
    padding: 20px;
    transition: 0.5s;
}
.close-pop {
     animation-name: translate-close;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
}
 @keyframes translate-close {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100%{
            transform: translateY(100%);
            opacity: 0;
        }
    }
    @keyframes translate-open {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }
}