.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: var(--background-dark);
    padding-top: max(env(safe-area-inset-top), 10px);
    width: 100%;
}
.navLinks {
    display: flex;
    gap: 30px;

}
.navLinks a {
    font-weight: 300;
}
.bottomBorder{
    width: 100%;
    height: 1px;
    background-color: var(--background-light);
}
@media(max-width: 500px){
    .header {
        display: none;
    }
}