.notification-bell {
    position: relative;
}
.header {
    display: flex;
    gap: 10px;
    align-items: center;

}
.header .info{
    display: flex;
    flex-direction: column;
}
.notificationList{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 10px;
}
.notification{
    padding-bottom: 5px;
    border-bottom: 1px solid var(--background-light);
}
.notification p {
    color: rgb(210, 210, 210)
}
.notification-bell .point {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--primary);
    color: white;
    width: 11px;
    height: 11px;
    font-size: 14px;
    border-radius: 20px;
}