@import "./root.css";
#page {
    height: 100%;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background-color: var(--background);
   
}
#page .page-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
height: 100%;
    width: 100%;
}
#page .page-content > .header{
    border-bottom: 1px solid;
    margin-bottom: 10px;
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page .content {
    padding: 30px;
    overflow: auto;
}
.form {
    display: flex;
    width: 100%;
    max-width: 400px;
    flex-direction: column;
    gap: 5px;
}


#header .nav-links {
    display: flex;
    gap: 30px;
}
.logo {
    font-family: Gummy;
    font-weight: 500;
}
.logo span{
    color: var(--primary);
    /* text-decoration: line-through; */
}
.button-icon{
    cursor: pointer;
}
button.google-button  {
    position: relative;
}
button.google-button svg{
    position: absolute;
    left: 10px;
    width: 24px;
    height: 24px;
}

#message {
    padding: 10px 15px;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 1s;
    padding-top: env(safe-area-inset-top);
    z-index: 300;
}
.app-loader-anim{
    animation-name: app-loader;
    animation-duration: 5s;
    
}
@keyframes app-loader{
    0%{
        height: 0px;
    }
    50%{
        height: 100px;
    }
    100%{
        height: 0px;
    }
}
#message.success{
    background-color: rgba(1, 109, 1, 0.9);
}
#message.warning{
    background-color: rgba(226, 203, 0, 0.9);
}
#message.error {
    background-color:  rgba(179, 0, 0, 0.9);
}
#message.hidden {
        transform: translateY(-100%);
        transition-duration: 1s;
}
@media(max-width: 500px){

    .page > .header{
       position: relative;
        background-color: var(--background-dark);
        padding: 10px 5px 10px 5px;
        border-bottom: 0;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .page > .header h1 {
        font-size: 24px;

    }
    .page > .header > .action{
        right: 10px;
        position: absolute;
    }
    #header .logo {
        font-size: 26px;
    }
    #header .nav-links {
            display: flex;
            gap: 10px;
        }
    button.google-button svg {
        position: absolute;
        left: 10px;
        width: 20px;
        height: 20px;
    }
}
#auth-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px; */
    background-color: var(--background);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
#auth-page>h1{
    padding-bottom: 10px;
    padding-top: 40px;
    text-align: center;
}
#auth-page .form p {
    text-align: center;
}
