.page {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--background);
    width: 100%;
    height: 100%;

}
.content {
    max-width: 1000px;
}
.page h1 {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.page a {
    font-weight: 300;
    color: rgb(102, 190, 97);
    text-decoration: underline;
}